.wrapper {
    min-height: calc(100vh - 15px);
    margin: 15px auto 0;
}
.settings-flex{
    list-style-type: none;
}

.navbar{
    background: #f8f9fa;
}

.dropdown-menu.show{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}


.button__color{

    height: 30px;
    width: 50px;
    text-align: center;
    border-radius: 4px;
    transition-delay: 0;
    transition: all 0.5s;
    text-decoration: none;
}

.firstColor{
    background-color: #0b57a3;
}

.secondColor{
    background-color: #5e17b6;
}
.thirdColor{
    background-color: #1fc042;
}

.fourthСolor{
    background-color: #d11b64;
}

.fifthСolor{
    background-color: #163e18;
}

.sixthСolor{
    background-color: #bde22c;
}

.seventhСolor{
    background-color: white;
}

.button__color:hover{
    transition-delay: 0;
    transition: all 0.5s;
    border: 10px solid rgb(0, 0, 0);
}
